.searchPlaceholder{
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.568);
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    top: 0;
}
.searchBar{
    height: 5vh;
    width:25vw;
    border-style: none;
    border-radius: 20px;
    background-color: rgb(216, 216, 216);
    color: black;
    font-size: 20px;
}